<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery.contextMenu.css"/>
    <link rel="stylesheet" type="text/css" href="GetResource?AutomationToolbox/Preferences/Templates/Resources/dragtable-default.css"/>
  
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script type="text/javascript" src="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery.contextMenu.js"></script>
    <script type="text/javascript" src="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery.dragtable.js"></script>

    <style>
        body { font-size: 62.5%; }
        label, input { display:block; }
        input.text { margin-bottom:12px; width:95%; padding:.4em; }
        fieldset { padding:0; border:0; margin-top:25px; }
        h1 { font-size:2.2em; margin:.6em 0; }
        div#users-contain { width: 350px; margin: 20px 0; }
        div#users-contain table { margin:1em 0; border-collapse:collapse; width:100%; }
        div#users-contain table td, div#users-contain table th { border:1px solid #eee; padding:.6em 10px; text-align:left; }
        .ui-dialog .ui-state-error { padding:.3em; }
        .validateTips { border:1px solid transparent; padding:0.3em; }
        table#ParametersTable th { font-family:Arial; font-size:9pt;}
        table#ParametersTable tr:nth-child(even) { background-color:#ffffff; align:center; }
        table#ParametersTable tr:nth-child(odd) { background-color:#eeeeee; align:center; }
        .draggable tbody td { padding:2px; border:1px solid black; font-size:9pt; }
        .td-header-style { white-space:nowrap; vertical-align:top; }
    
        th:hover { background-color: #bbbbbb; xcolor: white; }
    </style>
    
    <script>
        function RunURL( aUrl )
        {
            try {
                xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", aUrl, false );
                xmlHttp.setRequestHeader('Content-type', 'text/plain; charset=UTF-8');
                xmlHttp.send( null );
                return xmlHttp.responseText;
            }
            catch( err ) {
                alert( err );
            }
        }
    </script>
    
    <script>
        $(function() {
          var dataParamEditorDialog, form,
          
          // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
          emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
          pname = $( "#pname" ),
          ptype = $( "#ptype" ),
          pvalue = $( "#pvalue" ),
          pdesc = $( "#pdesc" ),
          pAsList = $( "#asListcb" ),
          allFields = $( [] ).add( pname ).add( ptype ).add( pvalue ),
          tips = $( ".validateTips" );
          $( document ).tooltip();
                          
                          
          function updateTips( t ) {
              tips
                  .text( t )
                  .addClass( "ui-state-highlight" );
              setTimeout(function() { tips.removeClass( "ui-state-highlight", 1500 );}, 500 );
          }
          
          function checkLength( o, n, min, max ) {
              if ( o.val().length > max || o.val().length < min ) {
                  o.addClass( "ui-state-error" );
                  updateTips( "Length of " + n + " must be between " + min + " and " + max + "." );
                  return false;
              } else {
                  return true;
              }
          }
          
          function checkRegexp( o, regexp, n ) {
              if ( !( regexp.test( o.val() ) ) ) {
                  o.addClass( "ui-state-error" );
                  updateTips( n );
                  return false;
              } else {
                  return true;
              }
          }
        });
                  
        /*
         Document this!
         */
        function getColumnDataParam( thisTD ) {
            var dpRow= $('#ParametersTable tbody').find("tr").eq(0);
            var dp= dpRow.find('td').eq(thisTD.index());
                  
            return getDataParamElement( thisTD.text(), dp.text().trim(), thisTD.attr("default") == "true" );
        }

        /*
        Document this!
        */
        function getDataParamElement( strTDText, strDPName, bDefault ) {
            var info= RunURL( "/AutoManager/GetDataParameter?" + strDPName );
            var items= info.split(";");
            var strType= items[2];
            var strValue= items[1];
            var bList= items[3]=="true";

            var strDisabled=  bDefault?" disabled=\"true\"":"";
            var strFontStyle= bDefault?"italic":"normal";

            if( strType == "String" || strType == "Float" || strType == "Double" || strType == "Int" ) {
                if( bList ) {
                    var options= strValue.split(",");
                    var strSelect= '<select' + strDisabled + '>\n';
                    for( var i in options)
                          strSelect+= '<option ' + (strTDText == options[i].trim() ? "selected":"")+ '>'+options[i].trim()+'</option>\n';
                    strSelect+= '</select>\n';
                    return strSelect;
                }
                else
                    return '<input type="text" style="width:100%;font-style:'+strFontStyle+';" value="' + strTDText + '"' + strDisabled + '>';
            }
            else if( strType == "Boolean" ) {
                if( strTDText.toLowerCase() == "true" )
                    return '<select id="paramBoolVal"' + strDisabled + '><option selected>True</option><option>False</option></select>';
                else
                    return '<select id="paramBoolVal"' + strDisabled + '><option>True</option><option selected>False</option></select>';
            }
          
            return "";
        }

    
        /*
         document this
         */
        function toggleDisabled( cbox ) {
            var td= cbox.parentElement.parentElement.parentElement.parentElement.parentElement;
            var e= td.getElementsByTagName("input")[1];
            if( !e )
                e= cbox.parentElement.parentElement.parentElement.parentElement.parentElement.getElementsByTagName("select")[0];
                
            e.disabled= cbox.checked;
            $(e).css({'font-style':cbox.checked?'italic':'normal'})
            td.setAttribute("default", cbox.checked);
        }
    
        /*
         document this
         */
        function EditRow( theRow, bEditInPlace ) {
            if( bEditInPlace )
                theRow.attr("bEditInPlace", true);

            theRow.css({backgroundColor: 'black'});
            theRow.children("td").each(function()
            {
                if( $(this).index() == 0)
                {
                    $(this).html( "<img id=\"customImage\" class=\"row-context-editmenu box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );
                }
                else
                {
                    $(this).css({color:'White'});
                    
                    if( bEditInPlace )
                        $(this).attr("origVal", $(this).text());
                    
                    // Testcase column
                    if( $(this).index() == 1)
                    {
                        $(this).html('<input id="paramTextVal" type="text" style="display:table-cell; width:93%" value="' + $(this).text() + '">');
                        $(this).css({'vertical-align':'bottom'}).css({'white-space':'nowrap'});
                    }
                    else
                    {
                        var strChecked= ( $(this).attr("default") == "true" ) ? "checked":"";
                          
                        var strDefaultPopup = '<table style="border-spacing:0px;border-style:none;"><tr style="background-color:transparent"><td><input type="checkbox" onClick="toggleDisabled(this)"'+strChecked+'></td><td>Default</td></tr></table>\n'

                        $(this).html( strDefaultPopup + getColumnDataParam($(this)) );
                    }
                }
            });
        }
    
        /*
         Document this!
         */
        function ApplyRowEdits( theRow ) {
            if( confirm( "Click OK to apply changes" ) ) {
                theRow.css({backgroundColor: ''});
                theRow.children('td').each( function() {
                    if( $(this).index() == 0 ) {
                        $(this).html( "<img id=\"customImage\" class=\"row-context-menu box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );
                    }
                    else {
                        if( $(this).index() == 1)
                            $(this).css({'vertical-align':'middle'});
                            
                        $(this).css({color:'Black'});
                        var strText= "";
                        if( $(this).attr("default") == "true" ) {
                            var defaultRow= theRow.parents("table:first").find('tr:nth-child(2)');
                            if( defaultRow.children('td').eq($(this).index()).find('option').html() )
                                strText= defaultRow.children('td').eq($(this).index()).find('option:selected').text();
                            else if( defaultRow.children('td').eq($(this).index()).find('input').val() )
                                strText= defaultRow.children('td').eq($(this).index()).find('input').val();
                            else
                                strText= defaultRow.children('td').eq($(this).index()).text();
                            strText= "<i>" + strText + "</i>";
                        }
                        else if( $(this).find('option:selected').text() )
                            strText= $(this).find('option:selected').text();
                        else if( $(this).children(':text') )
                            strText= $(this).children(':text').val();
               
                        $(this).html( strText );
                    }
               });
            }
        }
    
        /*
         Document this!
         */
        function RevertRowToOrig( theRow ) {
            theRow.css({backgroundColor: ''});
            theRow.children('td').each( function() {
                if( $(this).index() == 0 ) {
                    $(this).html( "<img id=\"customImage\" class=\"row-context-menu box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );
                }
                else {
                    if( $(this).index() == 1)
                        $(this).css({'vertical-align':'middle'});
                    $(this).css({color:'Black'});
                    if( $(this).attr("default") == "true" )
                        $(this).html( "<i>" + $(this).attr("origVal") + "</i>");
                    else
                        $(this).html( $(this).attr("origVal") );
                    $(this).removeAttr("origVal");
                }
            });
        }

        /*
         Document this!
         */
        function CancelRowEdits( theRow ) {
            if( confirm( "Are you sure you want to cancel the row edits?" ) ) {
               if( theRow.attr("bEditInPlace") )
                    RevertRowToOrig( theRow );
               else
                    theRow.remove();
            }
        }
    
        /*
        Document this!
        */
        function InsertNewRow( theRow ) {
            // Insert a new row with the default values
            var theTable= theRow.closest("table");
            var defaultRow= theTable.find('tr:nth-child(2)');
            var clone= theRow.clone(true, true);
            
            clone.children('td').each (
                function() {
                    if( $(this).index() == 0)
                       $(this).html( "<img id=\"customImage\" class=\"row-context-editmenu box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );
                    else if( $(this).index() == 1 )
                       $(this).html( "New Testcase" );
                    else if( $(this).index() > 1 ) {
                       $(this).html( defaultRow.children('td').eq($(this).index()).text() );
                       $(this).attr("default", true);
                    }
                }
            );
            clone.insertAfter(theRow);
            EditRow( clone );
        }
    
        /*
         Document this!
         */
        function DuplicateRow( theRow ) {
            var clone= theRow.clone(true, true)
            clone.insertAfter(theRow);
            clone.children("td").eq(1).text( clone.children("td").eq(1).text() + " - copy");
            EditRow( clone );
        }
    
        /*
         Document this!
         */
        function RemoveRow( theRow ) {
            strTestCase= theRow.children('td').eq(1).text();
            if( confirm( "Are you sure you want to remove testcase '" + strTestCase + "'?" ) )
                theRow.remove();
        }
    
        /*
        Document this!
        */
        function EnableDisableRow( theRow ) {
            var bNewDisabledState= !theRow.attr('disabled');
            
            theRow.attr('disabled', bNewDisabledState );
            theRow.css({backgroundColor: (bNewDisabledState?'Yellow':'')});
            theRow.children('td').eq(0).html( "<img id=\"customImage\" class=\"row-context-menu"+(bNewDisabledState?"Alt":"")+" box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );
        }
    
        /*
         Document This!
         */
        function EditDataParamHeader( thisTD ) {
            var dataParamName= thisTD.text().trim();
            var info= RunURL( "/AutoManager/GetDataParameter?" + dataParamName );
            var items= info.split(";");

            document.getElementById( "pname2" ).value= items[0];
            document.getElementById( "pname2" ).setAttribute("origname", items[0]);
            document.getElementById( "pvalue2" ).value= items[1];
            document.getElementById( "ptype2" ).value= items[2];
            document.getElementById( "asListcb2" ).checked= (items[3] == "true");
            document.getElementById( "pdesc2" ).value= items[4];
            
            $( "#InsertDPColumn" ).data("activeTD", thisTD);
            ShowNewDPDialog( "Edit Data Parameter: " + dataParamName, false );
        }
    
        /*
         Document This!
         */
        function InsertDataParamHeader( thisTD ) {
            $("#pnameslist").empty();
            var elmnt= document.getElementById( "pnameslist" );
            var option = document.createElement("option");
            option.text = "--Select--";
            option.value = "--Select--";
            elmnt.add(option);
            
            var strDataParams= RunURL( "/AutoManager/GetAllDataParameterNames" );
            var items= strDataParams.split(', ');
            for( i=0; i<items.length; i++)
            {
                var option = document.createElement("option");
                option.text = items[i];
                option.value = items[i];
                elmnt.add(option);
            }
            
            $("#InsertDPColumn").data("activeTD", thisTD);
            ShowNewDPDialog( "Insert Data Parameter", true );
        }
    
        /*
        Document This!
        */
        function RemoveDataParamHeader( thisTD ) {
            if( confirm( "Are you sure you want to remove column '" + thisTD.text().trim() + "'?" ) )
                $("td").filter(":nth-child(" + (thisTD.index() + 1) + ")").remove();
        }
    
        /*
         Document This!
         */
        function EnableDisableDataParamHeader( thisTD ) {
            var bNewDisabledState= !thisTD.attr('disabled');
            
            thisTD.attr('disabled', bNewDisabledState );
            thisTD.html( thisTD.text() + "<img id=\"customImage\" class=\"header-context-menu"+(bNewDisabledState?"Alt":"")+" box menu-1\" src=\"/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png\" onmouseover=\"\" style=\"cursor:pointer;vertical-align:middle;\" height=\"10\" width=\"10\">" );

            $("td").filter(":nth-child(" + (thisTD.index() + 1) + ")").css({backgroundColor: (bNewDisabledState?'Gray':'')});
        }

        /*
        Document This!
        */
        function configureInsertDPColumn( dataParamName ) {
            var info= RunURL( "/AutoManager/GetDataParameter?" + dataParamName );
            var items= info.split(";");
            document.getElementById( "pnameslist" ).value= items[0];
            document.getElementById( "pvalue2" ).value= items[1];
            document.getElementById( "ptype2" ).value= items[2];
            document.getElementById( "asListcb2" ).checked= (items[3] == "true");
            document.getElementById( "pdesc2" ).value= items[4];
        }
    
        /*
         document this
         */
        function ShowNewDPDialog( strTitle, bNotEditable ) {
            $("#ptype2").attr("disabled", bNotEditable);
            $("#asListcb2").attr("disabled", bNotEditable);
            $("#pvalue2").attr("disabled", bNotEditable);
            $("#pdesc2").attr("disabled", bNotEditable);
            if( bNotEditable ) {
                $("#dataParamNamesList").show();
                $("#dataParamNameTextEdit").hide();
            }
            else {
                $("#dataParamNamesList").hide();
                $("#dataParamNameTextEdit").show();
            }
            
            if( strTitle.indexOf("Edit Data Parameter") == 0 )
                $('.ui-dialog-buttonpane button:contains(Insert)').button('option', 'label', 'Save');
            else
                $('.ui-dialog-buttonpane button:contains(Save)').button('option', 'label', 'Insert');

            $("#InsertDPColumn").dialog({ title: strTitle }).dialog( "open" );
        }
        
        /*
         document this
         */
        function saveDataParameter2() {
            var strStatus;
            var strTitle= $( "#InsertDPColumn" ).dialog( "option", "title" );
            
            if( !$("#pname2").val() )
                strStatus= "Please provide a data parameter name";
            else if( strTitle == "Insert New Data Parameter" )
                strStatus= RunURL( "/AutoManager/SaveDataParameter?name="+$("#pname2").val()+"&type="+$("#ptype2").val()+"&value="+$("#pvalue2").val()+"&aslist="+$("#asListcb2").is(':checked')+"&descr="+$("#pdesc2").val() );
            else
                strStatus= RunURL( "/AutoManager/UpdateDataParameter?name="+$("#pname2").attr("origname")+"&newname="+$("#pname2").val()+"&type="+$("#ptype2").val()+"&value="+$("#pvalue2").val()+"&aslist="+$("#asListcb2").is(':checked')+"&descr="+$("#pdesc2").val() );
            
            if( strStatus.toLowerCase() != "success" ) {
                alert( strStatus );
                return false;
            }
            
            return true;
        }

      /*
       Document this!
       */
      $(function(){
        $.contextMenu({
            selector: '.headerLast-context-menu',
            trigger: 'left',
            callback: function(key, options) {
            var thisTD= $(this).closest("td");
              
            if( key == 'Insert')
                InsertDataParamHeader( thisTD );
            },
            items: {
                "Insert": {name: "Insert", accesskey: "i"}
            }
        });
        
        $('.header-context-menu').on('click', function(e){console.log('clicked header', this);})
        });

        /*
         Document this!
         */
        $(function(){
            $.contextMenu({
                selector: '.header-context-menu',
                trigger: 'left',
                callback: function(key, options) {
                    var thisTD= $(this).closest("td");
                          
                    if( key == 'Edit')
                        EditDataParamHeader( thisTD );
                    else if( key == 'Insert')
                        InsertDataParamHeader( thisTD );
                    else if( key == 'Remove')
                        RemoveDataParamHeader( thisTD );
                    else if( key == 'Disable')
                        EnableDisableDataParamHeader( thisTD );
                },
                items: {
                    "Edit": {name: "Edit", accesskey: "e"},
                    "Insert": {name: "Insert", accesskey: "i"},
                    "Disable": {name: "Disable", accesskey: "a"},
                    "Remove": {name: "Remove", accesskey: "r"}
                }
            });
          
            $('.header-context-menu').on('click', function(e){console.log('clicked header', this);})
        });
        
        /*
         Document this!
         */
        $( function() {
            $.contextMenu({
                selector: '.header-context-menuAlt',
                trigger: 'left',
                callback: function(key, options) {
                    var thisTD= $(this).closest("td");

                    if( key == 'Edit')
                        EditDataParamHeader( thisTD );
                    else if( key == 'New')
                        NewDataParamHeader( thisTD );
                    else if( key == 'Insert')
                        InsertDataParamHeader( thisTD );
                    else if( key == 'Remove')
                        RemoveDataParamHeader( thisTD );
                    else if( key == 'Enable')
                        EnableDisableDataParamHeader( thisTD );
                },
                items: {
                    "Edit": {name: "Edit", accesskey: "e", disabled: true},
                    "Insert": {name: "Insert", accesskey: "i"},
                    "Enable": {name: "Enable", accesskey: "a"},
                    "Remove": {name: "Remove", accesskey: "r"}
                }
            });
        });


        /*
         <!-- Row widget context menus -->
         */
        $( function(e) {
            $.contextMenu({
                selector: '.row-context-menu',
                trigger: 'left',
                callback: function(key, options) {
                    var theRow= $(this).closest("tr");
                    if( key == 'Edit')
                        EditRow( theRow, true );
                    else if( key == 'Insert')
                        InsertNewRow( theRow );
                    else if( key == 'Duplicate')
                        DuplicateRow( theRow );
                    else if( key == 'Remove')
                        RemoveRow( theRow );
                    else if( key == 'Disable')
                        EnableDisableRow( theRow );
                },
                items: {
                    "Edit": {name: "Edit", accesskey: "e"},
                    "Insert": {name: "Insert", accesskey: "i"},
                    "Duplicate": {name: "Duplicate", accesskey: "d"},
                    "Disable": {name: "Disable", accesskey: "a"},
                    "Remove": {name: "Remove", accesskey: "r"}
                },
                events: {
                    show: function(opt) {
                        var m = opt.$menu;
                        //alert(m.data('Disable'));
                    }
                }
            });
          
           /* clean this up */
            $('.row-context-menu').on('click',
                    function(e){
                        console.log('clicked row', this);
                        var currentRow = $(this).closest('tr');
                        //alert($(e).data('item'));
                        //alert(currentRow.attr('id'));
                    }
            )
        });
        
        /*
        There must be an easier way to do this.  some way of dynamically changing the menu name.
        */
        $(function(){
          $.contextMenu({
                selector: '.row-context-menuAlt',
                trigger: 'left',
                callback: function(key, options) {
                    var theRow= $(this).closest("tr");
                    if( key == 'Edit')
                        EditRow( theRow, true );
                    else if( key == 'Insert')
                        InsertNewRow( theRow );
                    else if( key == 'Duplicate')
                        DuplicateRow( theRow );
                    else if( key == 'Remove')
                        RemoveRow( theRow );
                    else if( key == 'Enable')
                        EnableDisableRow( theRow );
                },
                items: {
                    "Edit": {name: "Edit", accesskey: "e", disabled: true},
                    "Insert": {name: "Insert", accesskey: "i"},
                    "Duplicate": {name: "Duplicate", accesskey: "c"},
                    "Enable": {name: "Enable", accesskey: "a"},
                    "Remove": {name: "Remove", accesskey: "r"}
                }
            });
        });


        /*
         <!-- Row widget context menus -->
         */
        $(function() {
            $.contextMenu({
                selector: '.row-context-editmenu',
                trigger: 'left',
                callback: function(key, options) {
                    var theRow= $(this).closest("tr");
                    if( key == 'Apply')
                        ApplyRowEdits( theRow );
                    else if( key == 'Cancel')
                        CancelRowEdits( theRow );
                 },
                items: {
                    "Apply": {name: "Apply", accesskey: "a"},
                    "Cancel": {name: "Cancel", accesskey: "c"}
                }
            });
        });
        
        
        /*
         Document this!
         */
        $(document).ready(function() {
            $('.defaultTable').dragtable();
                          
            var fixHelperModified = function(e, tr) {
                var $originals = tr.children();
                var $helper = tr.clone(true, true);
                $helper.children().each(function(index) { $(this).width($originals.eq(index).width()) });
                return $helper;
            };
                          
            $("#ParametersTable tbody").sortable({ helper: fixHelperModified }).disableSelection();
        });
        
        /*
        Document this!
        */
        $(function () {
            function DoInsertDPColumn() {
                var bNewDataParam= $("#dataParamNameTextEdit").css('display') != 'none';
                var bEdit= $( "#InsertDPColumn" ).dialog( "option", "title" ).indexOf("Edit Data Parameter") == 0;
                var strValue= $("#pvalue2").val();
                var strElmnt= bNewDataParam?"pname2":"pnameslist";
                var i= $(this).data('activeTD').index();
          
                // If last column then insert the column before it
                if( $(this).data('activeTD').attr('id') == "lastCol" ) {
                    bEdit= true;
                    $(this).data('activeTD').removeAttr('id');
                }
          
                if( !bNewDataParam || saveDataParameter2() ) {
                    // Add Header handle column if not edit mode
                    if( !bEdit ) {
                        $('#ParametersTable thead').find("tr:first").each(function() {
                            $(this).find('th').eq(i).clone(true, true).insertAfter( $(this).find('th').eq(i) ); // Use clone to keep the event bindings
                        });
                    }

                    $('#ParametersTable tbody').find('tr').each(function() {
                        var htmlData= "";
                        if( $(this).index() == 0 ) {
                            htmlData= '&nbsp' + document.getElementById( strElmnt ).value + ' <img id="customImage" class="header-context-menu box menu-1" src="/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/optbutton.png" onmouseover="" style="cursor:pointer;vertical-align:middle;" height="10" width="10">&nbsp';
                        }
                        else if( $(this).index() == 1 ) {
                            if( $("#asListcb2").is(':checked') ) {
                                htmlData= getDataParamElement( $(this).find('td').eq(i).text(), $("#"+strElmnt).val(), false );
                                strValue= strValue.split(",")[0]; // get first value
                            }
                            else
                                htmlData= '<b>'+strValue+'</b>';
                        }
                        else {
                            if( bEdit ) {
                                if( $(this).find('td').eq(i).attr("default") == "true" )
                                    $(this).find('td').eq(i).html( "<i>" + strValue + "</i>" );
                                else
                                    htmlData= undefined; // Skip.  Don't update because it is not a default value
                            }
                            else
                                htmlData= "<i>" + strValue + "</i>";
                        }
                        
                        if( !bEdit ) { // Insert new column with default value
                            var tdClone= $(this).find('td').eq(i).clone(true, true); // Use clone to keep the event bindings
                            tdClone.html(htmlData);
                            if( $(this).index() > 1 )
                                tdClone.attr("default", true);
                            tdClone.insertAfter( $(this).find('td').eq(i) );
                        }
                        else if( htmlData ) // update existing columns 0-1 with new default value
                            $(this).find('td').eq(i).html( htmlData );
                    });
          
                insertDPDialog.dialog( "close" );
            }
        }
          
        /*
        Document this!
        */
        $("#ParametersTable td").dblclick(
            function (e) {
                e.stopPropagation();      //<-------stop the bubbling of the event here
                var row= $(this).parents("tr:first");
                if( row.index() == 0 )
                    EditDataParamHeader( $(this) );
                if( row.index() == 1 ) {
                    if( $(this).index() > 1 ) {
                        $(this).html( getColumnDataParam( $(this) ) );
                    }
                }
                else if( row.index() > 1 )
                    EditRow( row, true );
        });
        
        /*
        Document this!
        */
        $("#ParametersTable td").on( "keydown", function(event) {
            if( event.which == 13 ) {
                var row= $(this).parents("tr:first");
                // Check if defaults row
                if( row.index() == 1 ) {
                    if( $(this).index() > 1 ) {
                        var i= $(this).index();
                        var strVal;//= $(this).find('input').eq(0).val();
                        if( $(this).find('option:selected').text() )
                            strVal= $(this).find('option:selected').text();
                        else if( $(this).children(':text') )
                            strVal= $(this).children(':text').val();
                        $(this).html('<b>' + strVal + '</b>');
                        // update the rest of the rows
                        $('#ParametersTable tbody').find('tr').each( function() {
                            // Skip row 0
                            if( $(this).index() > 0 && $(this).find('td').eq(i).attr("default") == "true" )
                                $(this).find('td').eq(i).html( "<i>" + strVal + "</i>" );
                        });
                    }
                }
                // Apply the row edits
                else if( row.index() > 1 )
                    ApplyRowEdits( row );
            }
        });
          
        /*
        Document this!
        */
        var insertDPDialog;
        insertDPDialog = $( "#InsertDPColumn" ).dialog(
            {
                autoOpen: false,
                height: 340,
                width: 350,
                modal: true,
                buttons: {
                    "Insert": DoInsertDPColumn,
                    Cancel: function() { $(this).dialog( "close" ); }
                },
                close: function() { form[ 0 ].reset(); }
            }
        );
                                                     
        /*
        Document this!
        */
        form = insertDPDialog.find( "form" ).on( "submit", function( event ) {
                                                                                event.preventDefault();
                                                                            });
        });
        
        /*
        Document this!
        */
        function pack( strChunkName, strValue ) {
            // Format:  -lengthOfString-[chunkName-]stringData
            return "-"+strValue.length+"-" + (strChunkName?strChunkName+"-":"") + strValue;
        }

        /*
        Document this!
        */
        function saveDPContents( strType ) {
            var strLocation= $('#Location').text();
            var strFileName= $('#Location').text().split('/').pop();
            if( strType=="SaveAs" ) {
                var strNewFileName= prompt( "Data Parameter File Name:", strFileName.replace(".xml", "_New"));
                if( !strNewFileName )
                    return;

                if( strNewFileName.lastIndexOf(".xml") != strNewFileName.length - ".xml".length)
                    strNewFileName+= ".xml";
                    
                strLocation= strLocation.replace( strFileName, strNewFileName );
                strFileName= strNewFileName;
            }
            
            var bSave= true;
            if( RunURL( "/AutoManager/DataparamFileExists?"+strLocation ) == "true" )
                if( !confirm( "The DataParam file already exists.  Do you want to overwrite it?\n\n"+strLocation) )
                    return;
                          
            var dpData= pack("location", strLocation);
            dpData+= pack("author", $('#Author').val());
            dpData+= pack("description", $('#Description').val());
            var dataParamsRow;
            var strRowData= "";
                        
            $('#ParametersTable tbody').find('tr').each(function() {
                var row= $(this);
                if( row.index() == 0 ) {
                    dataParamsRow= row;
                    strRowData= "";
                    row.find('td').each( function() { if( $(this).index()>0 && $(this).index()<row.find('td').length-1 )
                                                          strRowData+= pack( null, $(this).text().trim() );
                                                    });
                    dpData+= pack("DATAPARAMS", strRowData);
                }
                else if( row.index() == 1 ) {
                    strRowData= "";
                    row.find('td').each( function() { if( $(this).index()>0 && $(this).index()<row.find('td').length-1 )
                                                          strRowData+= pack( null, $(this).text().trim() );
                                                      });
                    dpData+= pack("DEFAULTS", strRowData);
                }
                else {
                    strRowData= "";
                    row.find('td').each( function() { if( $(this).index()>0 ) {
                                                            // only capture non defaults
                                                            if( $(this).attr("default") != 'true' )
                                                                strRowData+= pack( dataParamsRow.find('td').eq($(this).index()).text().trim(), $(this).text().trim() );
                                                        }
                                                     });
                    dpData+= pack("ROW", strRowData);
                }
            });

            var strStatus= RunURL( "/AutoManager/SaveDataparamEditor?" + escape(dpData) );
            if( strStatus == "success" ) {
                $('#Location').text(strLocation);
                $('#DataparamTitle').text(strFileName);
                document.title = strFileName;
                //window.close();
            }
            else
                alert( strStatus );
        }
    </script>
</head>

<body>
    <!-- Insert Header -->
    <div id="InsertDPColumn" title="Insert Data Parameter Column">
        <form>
            <fieldset>
                <label for="pnameslist">Name</label>
                <div id="dataParamNamesList">
                    <select id="pnameslist" style="float:left;" onclick="configureInsertDPColumn(value)">
                        <option selected>--Select--</option>
                    </select>
                    <button id="pnew" onclick="ShowNewDPDialog('Insert New Data Parameter', false)">New</button><br><br>
                </div>
                <div id="dataParamNameTextEdit" style="display:none">
                    <input type="text" name="pname2" id="pname2" origname="" value="New Parameter" class="text ui-widget-content ui-corner-all">
                </div>
                <label for="ptype2">Type</label>
                <select id="ptype2" style="float:left;" disabled>
                    <option selected>String</option><option>Boolean</option><option>Float</option><option>Double</option><option>Int</option>
                </select>
                <input type="checkbox" id="asListcb2" name="asListcb2" value="listtype" style="float:left;" disabled> As List<br><br><br>
                <label id="pValueLabel2" for="pvalue2">Default Value</label>
                <input type="text" name="pvalue2" id="pvalue2" value="" class="text ui-widget-content ui-corner-all" disabled>
                <label for="pdesc2">Description</label>
                <textarea name="pdesc2" id="pdesc2" value="Description of parameter" style="height:50px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all" disabled></textarea>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <h1 id="DataparamTitle"></h1>
    
    <table id="dpInfo">
        <tr>
            <td title="this is the path">Source:</td>
            <td id="Location"></td>
        </tr>
        <tr>
            <td title="this is the auther">Author:</td>
            <td><input id="Author" type="text" value="Anonymous"></td>
        </tr>
        <tr>
            <td style="vertical-align:top">Description:</td>
            <td><textarea name="Description" id="Description" style="width:500px;height:50px;"></textarea></td>
        </tr>
    </table>

    <!-- The Main Data Parameters Table -->
    <table id="ParametersTable" class="defaultTable">
    </table>
  
  <hr>
    <button id="SaveDP"   onclick="saveDPContents('Save')">Save</button>
    <button id="SaveAsDP" onclick="saveDPContents('SaveAs')">Save As</button>
    <button id="CloseDP" onclick="window.close()">Close</button>

</body>
</html>
