<html>
<head>
  <title>Job Editor</title>
  <link rel="stylesheet" type="text/css" href="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery-ui.css">
  <script type="text/javascript" src="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery.js"></script>
  <script type="text/javascript" src="GetResource?AutomationToolbox/Preferences/Templates/Resources/jquery-ui.js"></script>
  <style>
	#QueueTestsList { list-style-type: none; margin: 0; padding: 0; width: 60%; }
	#QueueTestsList li span { position: absolute; margin-left: -1.3em; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:15px;}
	.ui-button-text { font-size: 10px; padding: 0px 0px 1px 1px; }
	.ui-dialog-title{ font-size: 15px; }
	.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix{ border:none; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
  </style>
  
  <SCRIPT TYPE="text/javascript">  	
    $(  function() {
            $( "#QueueTestsList" ).sortable();
            $( "#QueueTestsList" ).disableSelection();
        }
    );

	$(	function() {
		var addTestbedDialog, bUpdate ;

	    function saveTestbed() {
	    	var strNewTestbed= $("#testbedName").val();
	    	
    		if( strNewTestbed == null || strNewTestbed == "" )
    			alert( "Please specify a testbed name" )
    		else
    		{
    			var testbedsMenu= document.getElementById( "Testbeds" );
				var strCurTestbed= testbedsMenu.options[testbedsMenu.selectedIndex].text;
				
    			// Make sure it doesn't exist already      
    			if( testbedsMenu.namedItem(strNewTestbed) != null ) {
    				alert( "A testbed with that name already exists.  Please choose a different name." );
    				return; // return keeping the dialog open
    			}

    			addTestbedDialog.dialog( 'close' );
    			document.getElementById("testbedStatus").innerHTML= "";
    			var bSave= (strCurTestbed == "New Testbed")
    			
    			var option = document.createElement("option");
               	option.id = strNewTestbed;
               	option.text = strNewTestbed;
               	option.value = strNewTestbed;
               	option.setAttribute( "type", "testbed" );
               	option.setAttribute( "runmode", "Serialize" );
               	option.setAttribute( "descr", $("#testbedDescription").val() );

   				//Add it to the database first
   				var strURL;
   				if( bSave )
   					strURL = "/AutoManager/SaveTestbed?name=" + option.text + "&value=" + option.value +
   											"&type=" + option.getAttribute( "type" ) + "&runmode=" + option.getAttribute( "runmode" ) + "&descr=" + option.getAttribute( "descr" );
   				else
   					strURL = "/AutoManager/UpdateTestbed?oldname=" + strCurTestbed + "&name=" + option.text + "&value=" + option.value +
											"&type=" + option.getAttribute( "type" ) + "&runmode=" + option.getAttribute( "runmode" ) + "&descr=" + option.getAttribute( "descr" );
   					
   				var strStatus= RunURL( strURL );
       			if( strStatus.toLowerCase() == "success" )
       			{
       				if( !bSave ) //updated.  Remove current entry because we are replacing it
    	   				testbedsMenu.remove( testbedsMenu.selectedIndex );

       				// Insert it above the New Testbed and New Group options
               		testbedsMenu.add(option, testbedsMenu[testbedsMenu.length-2]);       				
             		testbedsMenu.value = option.value;
                    GetToolboxStatus();
       			}
       			else
       				alert( "Failed to " + (bSave?"save":"update") + " testbed '" + option.text + "'");
           	}
		}

	    function removeTestbed() {
	    	if( RemoveSelectedTestbed() )
		    	addTestbedDialog.dialog( "close" );
		}

	    addTestbedDialog = $( "#TestbedEditorDialog" ).dialog({
	        autoOpen: false,
	        height: 288,
	        width: 500,
	        modal: true,
	        buttons: {
	          "Save": saveTestbed,
	          "Remove": removeTestbed,
	          Cancel: function() { addTestbedDialog.dialog( 'close' ); }
	        },
	    	open : function (event, ui) {
	    		var strTestbedSelection= document.getElementById("Testbeds").options[document.getElementById("Testbeds").selectedIndex].text;
            	if( strTestbedSelection != "New Testbed" ) {
               		var strInfo= RunURL( "/AutoManager/GetTestbedValue?" + strTestbedSelection );
            		// strTestbed; strValue; strType; strRunMode; strDescription
            		var listItems= strInfo.split(";");
	    			$("#testbedName").val( strTestbedSelection );
               		$("#testbedDescription").val( listItems[4] );
               	}
            	else {
	    			$("#testbedName").val( "127.0.0.1:" + window.location.port  );
               		$("#testbedDescription").val( "Description of this testbed" );            		
               		$(".ui-dialog-buttonpane button:contains('Remove')").hide();
            	}
			}
	    	});	      
		}
	);

	$(	function() {
		var addGroupDialog, bUpdate ;

	    function saveGroup() {
	    	var strNewGroup= $("#groupName").val();
	    	
    		if( strNewGroup == null || strNewGroup == "" )
    			alert( "Please specify a group name" )
    		else
    		{
    			var testbedsMenu= document.getElementById( "Testbeds" );
				var strCurTestbed= testbedsMenu.options[testbedsMenu.selectedIndex].text;
				
    			// Make sure it doesn't exist already      
    			if( testbedsMenu.namedItem(strNewGroup) != null ) {
    				alert( "A group with that name already exists.  Please choose a different name." );
    				return; // return keeping the dialog open
    			}

    			addGroupDialog.dialog( 'close' );
    			document.getElementById("testbedStatus").innerHTML= "";
    			var bSave= (strCurTestbed == "New Group")

    			// create the new element
               	var option = document.createElement("option");
               	option.id = strNewGroup;
               	option.text = strNewGroup;
               	option.value = $("#testbedsList").val();
                option.setAttribute( "type", "group" );
               	option.setAttribute( "runmode", $("#RunMode").val() );
               	option.setAttribute( "descr", $("#groupDescription").val() );        	

   				//Add it to the database first
   				var strURL;
   				if( bSave )
   					strURL = "/AutoManager/SaveTestbed?name=" + option.text + "&value=" + option.value +
   											"&type=" + option.getAttribute( "type" ) + "&runmode=" + option.getAttribute( "runmode" ) + "&descr=" + option.getAttribute( "descr" );
   				else
   					strURL = "/AutoManager/UpdateTestbed?oldname=" + strCurTestbed + "&name=" + option.text + "&value=" + option.value +
											"&type=" + option.getAttribute( "type" ) + "&runmode=" + option.getAttribute( "runmode" ) + "&descr=" + option.getAttribute( "descr" );
   					
   				var strStatus= RunURL( strURL );
       			if( strStatus.toLowerCase() == "success" )
       			{
       				if( !bSave ) //updated.  Remove current entry because we are replacing it
    	   				testbedsMenu.remove( testbedsMenu.selectedIndex );

       				// Insert it above the New Testbed and New Group options
               		testbedsMenu.add(option, testbedsMenu[testbedsMenu.length-2]);       				
             		testbedsMenu.value = option.value;
                    GetToolboxStatus();
       			}
       			else
       				alert( "Failed to " + (bSave?"save":"update") + " group '" + option.text + "'");
    		}
    	}

	    function removeGroup() {
	    	if( RemoveSelectedTestbed() )
		    	addGroupDialog.dialog( 'close' );
		}

	    addGroupDialog = $( "#GroupEditorDialog" ).dialog({
	        autoOpen: false,
	        height: 384,
	        width: 500,
	        modal: true,
	        buttons: {
	          "Save": saveGroup,
	          "Remove": removeGroup,
	          Cancel: function() { addGroupDialog.dialog( 'close' ); }
	        },
	    	open : function (event, ui) {
	    		var strTestbedSelection= document.getElementById("Testbeds").options[document.getElementById("Testbeds").selectedIndex].text;
	    		if( strTestbedSelection != "New Group" ) {
            		var strInfo= RunURL( "/AutoManager/GetTestbedValue?" + strTestbedSelection );
            		// strTestbed; strValue; strType; strRunMode; strDescription
            		var listItems= strInfo.split(";");
            		$("#groupName").val( strTestbedSelection );
               		$("#testbedsList").val( listItems[1] );
               		$("#RunMode").val( listItems[3] )
               		$("#groupDescription").val( listItems[4] );    
            	}
            	else {
            		$("#groupName").val( "New Group Name" );
               		$("#testbedsList").val( "testbed1, testbed2, testbed3..." );      
               		$("#RunMode option")[0].selected= true;
               		$("#groupDescription").val( "Description of testbed group" );      
               		$(".ui-dialog-buttonpane button:contains('Remove')").hide();
            	}	
            }
	      });	      
		}
	);
	
	function EditTestbedButtonHandler()
	{
		var testbedsMenu= document.getElementById( "Testbeds" );
		var strSelection= testbedsMenu.options[testbedsMenu.selectedIndex].text;
		if( testbedsMenu.options[testbedsMenu.selectedIndex].getAttribute( "type" ) == "group" )
			$( '#GroupEditorDialog' ).dialog({ title: "Group Editor: " + strSelection}).dialog( 'open' );
		else
			$( '#TestbedEditorDialog' ).dialog({ title: "Testbed Editor: " +strSelection}).dialog( 'open' );
	}

	function GetToolboxStatus()
	{
	    var strStatus= "Error";
		var testbedsMenu= document.getElementById( "Testbeds" );

   	   	// Check to see if it is a group.  Value != text
   		if( testbedsMenu.options[testbedsMenu.selectedIndex].getAttribute( "type" ) == "group" )
	        strStatus= "<font color=\"gray\">Testbeds: " + testbedsMenu.value + "</font>";	
   		else
   		{
	        document.getElementById( "testbedStatus" ).innerHTML= " ...connecting: " + testbedsMenu.value;
	        
	        strSelection= testbedsMenu.options[testbedsMenu.selectedIndex].text
	        try {
	            strStatus= "Connected: " + RunURL( "http://" + strSelection + "/AutoManager/GetToolboxStatus" );
	        } catch(err) {
	            strStatus= "<font color=\"red\">Could not connect to the Testbed's Automation Toolbox: " + err.message + "</font>";
	        }	
   		}
   		
        document.getElementById( "testbedStatus" ).innerHTML= " " + strStatus;
	    document.getElementById( "EditTestbedButton" ).disabled= false;
	}
	
    function CheckTestbedStatus()
    {
    	var bConnect= true;
    	var testbedsMenu= document.getElementById( "Testbeds" );
    	var strSelection= testbedsMenu.options[testbedsMenu.selectedIndex].text;
    	if( strSelection == "New Testbed")
    		$( '#TestbedEditorDialog' ).dialog({ title: strSelection}).dialog( 'open' );   		
    	else if( strSelection == "New Group")
    		$( '#GroupEditorDialog' ).dialog({ title: strSelection}).dialog( 'open' );
    	else {
    		GetToolboxStatus();    		
    	    document.getElementById( "EditTestbedButton" ).disabled= false;
    	}    		    
    }

	$(	function() {
		var dependencyDialog ;

	    function addDependency() {
	    	dependencyDialog.dialog( "close" );
	    	var strBtnColor= "#cccccc" //grey
	    	var strDepndcy= "";
	    			
	    	if( document.getElementById( "dependencySelection" ).value != "--None--" ) {
	    		strDepndcy= document.getElementById( "dependencySelection" ).value;
	    		strBtnColor= "#ff0000"; //red
    		}
		   	
			document.getElementById( $(this).data('strQueuedTestID') ).setAttribute( "dependency", strDepndcy );
			$(this).data('btn').style.color= strBtnColor	    	
		}

	    dependencyDialog = $( "#DependencyEditorDialog" ).dialog({
	        autoOpen: false,
	        height: 230,
	        width: 500,
	        modal: true,
	        buttons: {
	          "OK": addDependency,
	          Cancel: function() { dependencyDialog.dialog( "close" ); }
	        }
	      });	      
		}
	);
         
    function RemoveSelectedTestbed( )
    {    	
    	var testbedsMenu= document.getElementById( "Testbeds" );
    	var strTestbed= testbedsMenu.options[testbedsMenu.selectedIndex].text;

  		document.getElementById( "testbedStatus" ).innerHTML= "";
       	if( confirm('Are you sure you want to remove\n"' + strTestbed + '"') == true )
       	{   				
   			var strStatus= RunURL( "/AutoManager/DeleteTestbed?name=" + strTestbed );
   			if( strStatus.toLowerCase() == "success" )
   			{
    			testbedsMenu.remove(testbedsMenu.selectedIndex);
    			if( testbedsMenu.value == "--Select--" )
    				document.getElementById( "EditTestbedButton" ).disabled= true;	
   			}
   			else
   				alert( "Failed to remove '" + strTestbed + "'");					
       	}
       	else
       		return false;
       	
       	return true;
    }
    
    var gQueuedCounter= 0;
    function SetQueuedTestbed( strQueuedTestID )
    {
	    if( document.getElementById( "Testbeds" ).value == "--Select--" )
	    	alert( "You must select a testbed first" );
	    else {
	    	var strTestbed= document.getElementById( "Testbeds" ).options[document.getElementById( "Testbeds" ).selectedIndex].text;
	    	document.getElementById( "label_" + strQueuedTestID ).innerHTML= strTestbed;
	    	document.getElementById( strQueuedTestID ).setAttribute( "testbed", strTestbed );
	    }	
    }

    function SetParallelizedAttr( strQueuedTestID, cb )
    {
	   	document.getElementById( strQueuedTestID ).setAttribute( "parallelize", cb.checked );
    }
    
	function ShowDependencyModalDialog( strQueuedTestID, btn )
    {
		// Get current queued tests and populate test menu
		var strOptions= "<option id=\"--select--\">--None--</option>\n";
        var tests= document.getElementById( "QueueTestsList" ).getElementsByTagName('li');
        for( i=0; i<tests.length; i++ ) {
        	// Filter out this row's queued test id
        	if( tests[i].id != strQueuedTestID ) {
    			var strOption= tests[i].getAttribute( "testpath" ) + " : " + tests[i].getAttribute( "testbed" );
        		strOptions+= "<option id=\"" + strOption + "\" value=\"" + strOption + "\">" + strOption + "</option>\n";
        	}
            else
              document.getElementById( "dependencyItem" ).innerHTML= "&nbsp&nbsp" + tests[i].getAttribute( "testpath" ) + " : " + tests[i].getAttribute( "testbed" );
    	}
        document.getElementById( "dependencySelection" ).innerHTML= strOptions;

		var strCurDepndcy= document.getElementById( strQueuedTestID ).getAttribute( "dependency" );
		if( strCurDepndcy != "" ) {
	    	if( document.getElementById( "dependencySelection" ).namedItem(strCurDepndcy) != null )
				document.getElementById( "dependencySelection" ).value= strCurDepndcy;
	    	else
	    		alert("Could not find dependency: " + strCurDepndcy );
		}

		$( "#DependencyEditorDialog" ).data("strQueuedTestID", strQueuedTestID).data("btn", btn).dialog( "open" );
    }

    function RunJob( strType ) 
    {
    	if( document.getElementById( "QueueTestsList" ).getElementsByTagName('li').length == 0 ) {
    		alert( "Please add tests to the queue" );
    		return;
    	} 	
    	if( document.getElementById( "jobname" ).value == "" ) {
    		alert( "Please enter a job name" );
    		return;
    	}
    	if( document.getElementById( "jobusername" ).value == "" ) {
    		alert( "Please enter a user name" );
    		return;
    	}
    		
    	var strURL;
    	if( strType == "SaveJob" )
    		strURL= "/AutoManager/SaveJob";
    	else
    		strURL= "/AutoManager/RunJob";
	        
    	strURL+= "?jobname=" + document.getElementById( "jobname" ).value;
    	strURL+= "&user=" + document.getElementById( "jobusername" ).value;
    	
    	if( strType != "SaveJob" )
    		strURL+= "&jobtemplate=" + document.getElementById( "UsersMenu" ).value + "/" + document.getElementById( "JobsMenu" ).value;
    	
    	if( document.getElementById( "jobclasspath" ).value != "" )
	    	strURL+= "&classpath=" + document.getElementById( "jobclasspath" ).value;
	    	
	    if( document.getElementById( "joboptargs" ).value != "" )
    		strURL+= "&commandlineargs=" + document.getElementById( "joboptargs" ).value;
    		    	
        var tests= document.getElementById( "QueueTestsList" ).getElementsByTagName('li')
        for( i=0; i<tests.length; i++ ) {
    		strURL+= "&dataparamfile=" + tests[i].getAttribute( "testpath" );
    		strURL+= ";" + tests[i].getAttribute( "testbed" );
    		strURL+= ";" + tests[i].getAttribute( "dependency" );
    		strURL+= ";" + tests[i].getAttribute( "parallelize" );
    	}
        
        if( strType == "REST" )
	        alert( "Job REST Request URL:\n\n" + strURL );
	    else {
	        var strReply= RunURL( strURL );
	        if( strReply.indexOf( "success" ) != 0 ) {
	        	if( strType == "SaveJob" ) {
	        		// Check to see if it failed because it already exists
	        		if( strReply.indexOf("already exists") != -1 ) {
	        			// Ask if they want to overwrite the current saved job
	        			if( window.confirm( "Do you want to overwrite the existing saved job?") ) {
	        				// Delete existing job
	        			    var strDelURL= "/AutoManager/DeleteJob?";
	        			    strDelURL+= "user=" + document.getElementById( "UsersMenu" ).value + "&job=" + document.getElementById( "JobsMenu" ).value;
	        		        var strDelStatus= RunURL( strDelURL ); 
	        				if( strDelStatus.toLowerCase() != "success" )
	        		        	alert( strStatus );
	        				else {
	        					// Finally resave the job
	        					strReply= RunURL( strURL );
	        					if( strReply.toLowerCase() != "success" )
	    			        		alert( "Failed to save job: " + strReply );	
	        				}
	        			}
	        		}
	        		else
			        	alert( "Failed to save job: " + strReply );	        	
	        	}
	        	else // runJob
		        	alert( "Failed to start job: " + strReply );	        	
	        }
		    else if( strType == "RunJob" )
                WaitForJob( strReply.substring(12) );
	    }
    }
  
    var waitForJobTimer;
    function WaitForJob( strJobID ) {
        var i= 0;
        $("#divLoading").html('<image src="/AutoManager/GetImage?AutomationToolbox/Preferences/Templates/Images/spinner.gif" alt="Loading, please wait" />');
        waitForJobTimer = setInterval(
            function() {
                strJobStarted= RunURL( "/AutoManager/DoesJobExist?uid=" + strJobID );
                if( strJobStarted == "success" ) {
                    clearInterval(waitForJobTimer);
                    $("#divLoading").html("");
                    window.location= "/AutoManager/Status";
                }
                else if( i > 20 ) {
                    clearInterval(waitForJobTimer);
                    $("#divLoading").html("");
                    alert( "Timed out waiting for job to start" );
                }
                i++;
           }, 500 );
    }

    function RunURL( aUrl )
    {
        xmlHttp = new XMLHttpRequest(); 
        xmlHttp.open( "GET", aUrl, false );
        xmlHttp.setRequestHeader('Content-type', 'text/plain');
        xmlHttp.send( null );
        return xmlHttp.responseText;
    }
    
    function RemoveTest( elementID )
    {
        var queuedTestsDiv= document.getElementById( "QueueTestsList" );
        queuedTestsDiv.removeChild( document.getElementById( elementID ) );
    }
    
    function EditDataparameter( strDataParameter )
    {
    	var strUrl = "/AutoManager/DataparamEditor?dataparam=/" + strDataParameter;
        window.open( strUrl );  	
     }

    function EditNewDataparameter()
    {
        var strLocation= "";
        var menus= document.getElementById( "TestCategoryDiv" ).getElementsByTagName( "select" );
        
        for( i=0; i<menus.length; i++)
        {
            if( menus[i].options[ menus[i].selectedIndex ].text != "--Select--" )
                strLocation+= "/" + menus[i].options[ menus[i].selectedIndex ].text;
        }
        
        window.open( "/AutoManager/DataparamEditor?new&dataparam=" + strLocation + "/New Data Parameter File" );
    }

    function QueueTest( strTestPath )
    {
    	gQueuedCounter+= 1;
        var strNewElementID= "QueuedTest_" + gQueuedCounter;  
        var pos =strTestPath.lastIndexOf( "/");
        var strTestbed= document.getElementById( "Testbeds" ).options[document.getElementById( "Testbeds" ).selectedIndex].text;
        //TODO: Warning Warning Major code duplication!!
        var newElement = document.createElement("li");
        newElement.setAttribute( "id", strNewElementID );
        newElement.setAttribute( "testpath", strTestPath );
        newElement.setAttribute( "testbed", strTestbed );
        newElement.setAttribute( "parallelize", "false" );
		newElement.setAttribute( "dependency", "" );
        newElement.innerHTML= "<button onclick=\"RemoveTest('" + strNewElementID + "')\">-</button>" +
        					  "<button onclick=\"EditDataparameter('" + strTestPath + "')\">E</button> " + 
        					  strTestPath.substring(0,pos+1) + "<b>" + strTestPath.substring(pos+1) + "</b>" + " " + 
							  "<div style=\"display:block;float:right;\">" +
							  "<label id=\"label_" + strNewElementID + "\">" + strTestbed + "</label>" +
							  "<button onclick=\"SetQueuedTestbed('" + strNewElementID + "')\">Use Selected Testbed</button>&nbsp&nbsp" +
							  "<button onclick=\"ShowDependencyModalDialog('" + strNewElementID + "', this)\"><i>D</i></button>&nbsp&nbsp" +
							  "<input type=\"checkbox\" onclick=\"SetParallelizedAttr('" + strNewElementID + "', this)\">Parallelize" +
							  "</div>";     				  
        document.getElementById( "QueueTestsList" ).appendChild( newElement );      
    }
    
    function GetURLMachineAndPort() 
    {
        return ""; //window.location.protocol + "//" + window.location.host;
    }

    function ApplyTestSelection( params )
    {                
        var root=document.getElementById( params.id );
        
        if( root.value == "--Select--" )
        	return;
        
        var dirs= RunURL( "/AutoManager/GetDirs?" + root.value );
        var files= RunURL( "/AutoManager/GetFiles?" + root.value );
        var rootElementID= "SelectTestMenu";
        var counter= 1;
        
        if( params.id.search( rootElementID ) != -1 ) {
            counter= Number( params.id.replace( rootElementID, "" ) );
            counter++;
        }
                
        var strElementID= rootElementID + counter;
        var strNewElementID= rootElementID + counter;

        //Delete selects after current select element
        while( document.getElementById( rootElementID + counter ) ) {
            var elementToRemove= document.getElementById( rootElementID + counter );
            document.getElementById( 'TestCategoryDiv' ).removeChild( elementToRemove );
            ++counter;
        }

        if( dirs != "" )
        {            
            if( root.value!="--Select--" ) 
            {
                if( root.options[0].text=="--Select--" )
                    root.remove(0);
                
                var selEl = document.createElement("select");
                selEl.setAttribute( "id", strNewElementID );
                selEl.setAttribute( "onchange", "ApplyTestSelection({id:'" + strNewElementID + "'})" );
                
                var option = document.createElement("option");
                option.text = "--Select--";
                option.value = "--Select--";
                selEl.add(option);

                var items= dirs.split('\n');
                for( i=0; i<items.length; i++)
                {
                    var option = document.createElement("option");
                    option.text = items[i];
                    option.value = root.value + "/" + items[i];
                    selEl.add(option);
                }
                document.getElementById( "TestCategoryDiv" ).appendChild( selEl );
            }
        }

        document.getElementById( "AvailableTestsDiv" ).innerHTML="";
        
        if( files == "" )
        {
            var selEl = document.createElement("label");
            selEl.setAttribute( "id", "none" );
            selEl.innerHTML= "No Tests Found in: <i>" + root.value + "</i><br>";
            document.getElementById( "AvailableTestsDiv" ).appendChild( selEl );
        }
        else
        {   
            var availTestsDiv= document.getElementById( "AvailableTestsDiv" );
            var items= files.split('\n');
            for( i=0; i<items.length; i++)
            {
                if( items[i] != "" ) 
                {
                    strNewElementID= "File" + i;
                    var newElement = document.createElement("button");
                    newElement.setAttribute( "id", strNewElementID );
                    newElement.appendChild( document.createTextNode("+") );
                    newElement.setAttribute( "onclick", "QueueTest('" + root.value + "/" + items[i] + "')" );
                    availTestsDiv.appendChild( newElement );
                    
                    newElement = document.createElement("button");
                    newElement.setAttribute( "id", strNewElementID );
                    newElement.appendChild( document.createTextNode("E") );
                    newElement.setAttribute( "onclick", "EditDataparameter('" + root.value + "/" + items[i] + "')" );
                    availTestsDiv.appendChild( newElement );
                    
                    newElement = document.createElement("label");
                    newElement.setAttribute( "id", strNewElementID + "Label" );
                    newElement.innerHTML= " " + items[i] + "<br>";
                    availTestsDiv.appendChild( newElement );
                }
            }
        }
    }
	   
	function UserSelected()
	{
		document.getElementById( "LoadJobButton" ).disabled= true;
		document.getElementById( "DeleteJobButton" ).disabled= true;
		document.getElementById( "JobsMenu" ).disabled= false;
		var strURL= "/AutoManager/GetUserJobs?user=" + document.getElementById( "UsersMenu" ).value;
		document.getElementById( "JobsMenu" ).innerHTML= RunURL( strURL );
	}

	function JobSelected()
	{
		document.getElementById( "LoadJobButton" ).disabled= false;
		document.getElementById( "DeleteJobButton" ).disabled= false;
	}

	function DeleteJob()
	{
		var strUser= document.getElementById( "UsersMenu" ).value;
		var strJob= document.getElementById( "JobsMenu" ).value;
	    var strURL= "/AutoManager/DeleteJob?";
	    
    	var r= window.confirm( "Are you sure you want to delete job:\n\n" + strUser + "\n" + strJob );
		if( r ) {
	    	strURL+= "user=" + strUser + "&job=" + strJob;
        	var strStatus= RunURL( strURL ); 
			if( strStatus.toLowerCase() != "success" )
        		alert( strStatus );
			else
				document.getElementById( "JobsMenu" ).remove( document.getElementById( "JobsMenu" ).selectedIndex );			
		}
	}

	function LoadJob()
	{
	    var strURL= "/AutoManager/GetJobInfo?";
	    strURL+= "user=" + document.getElementById( "UsersMenu" ).value + "&job=" + document.getElementById( "JobsMenu" ).value;
        var strInfo= RunURL( strURL );
        
        if( strInfo.indexOf("not found!") != -1 )
        	alert( "Load Failed: " + strInfo );
        else
        {
	        document.getElementById( "jobname" ).value= document.getElementById( "JobsMenu" ).value;
	        document.getElementById( "jobusername" ).value= document.getElementById( "UsersMenu" ).value;
			document.getElementById( "QueueTestsList" ).innerHTML= "";
	        var strTestbed= document.getElementById( "Testbeds" ).options[document.getElementById( "Testbeds" ).selectedIndex].text;
	        var items= strInfo.split("&");
	        for( i=0; i<items.length; i++ ) {
				if( items[i].indexOf( "Classpath=" ) == 0 )
					document.getElementById( "jobclasspath" ).value= items[i].substr(10); 
				else if( items[i].indexOf( "OptArgs=" ) == 0 )
					document.getElementById( "joboptargs" ).value= items[i].substr(8); 
				else if( items[i].indexOf( "Dataparams=" ) == 0 ) {
					var strData= items[i].substr(11);
					var testList= strData.split("\n");
					for( x=0; x<testList.length; ++x ) {
						//                       Test				 ;Testbed  ;		Dependency					 ;Parallel
						// ex: Products/RX3/RX3FileLoadingTestMac.xml;127.0.0.1;Products/RX3/Dependency.xml:127.0.0.1;false
						var strTestData= testList[x].split(";");
	   					var strTestPath= strTestData[0];
						var strMachine= strTestData[1];
						var strDependency= strTestData[2];
						var bParallelChecked= strTestData[3]=="true";
						if( strMachine != "" )
							strTestbed= strMachine;
	   					var namePos= strTestPath.lastIndexOf( "/");
	   			    	gQueuedCounter+= 1;
	   			        var strNewElementID= "QueuedTest_" + gQueuedCounter;  
		        		var newElement = document.createElement("li");
		        		var strDependencyColor= strDependency?"#FF0000":"#000000";
		                //TODO: Warning Warning Major code duplication!!
		        		newElement.setAttribute( "id", strNewElementID );
		                newElement.setAttribute( "testpath", strTestPath );
        				newElement.setAttribute( "testbed", strTestbed );
        				newElement.setAttribute( "parallelize", bParallelChecked );
        				newElement.setAttribute( "dependency", strDependency );
		        		newElement.innerHTML= "<button onclick=\"RemoveTest('" + strNewElementID + "')\">-</button>" +
		        							  "<button onclick=\"EditDataparameter('" + strTestPath + "')\">E</button> " + 
		        							  strTestPath.substring(0,namePos+1) + "<b>" + strTestPath.substring(namePos+1) + "</b>" + " " + 
		        							  "<div style=\"display:block;float:right;\">" +
		        							  "<label id=\"label_" + strNewElementID + "\">" + strTestbed + "</label>" +
		        							  "<button onclick=\"SetQueuedTestbed('" + strNewElementID + "')\">Use Selected Testbed</button>&nbsp&nbsp" +
		        							  "<button onclick=\"ShowDependencyModalDialog('" + strNewElementID + "', this)\" style=\"color:" + strDependencyColor + ";\"><i>D</i></button>&nbsp&nbsp" +
		        							  "<input type=\"checkbox\" onclick=\"SetParallelizedAttr('" + strNewElementID + "', this)\" " + (bParallelChecked?"checked":"") + ">Parallelize" +
		        							  "</div>";     				  
	        			document.getElementById( "QueueTestsList" ).appendChild( newElement );      
					}
				}
			}
		}
    }    
	
</SCRIPT>
</head>

<body>

<!-- Insert Header -->

<div id="TestbedEditorDialog" title="Testbed Editor" style="font-size:62.5%;">
	<form><fieldset>
		<h4>Testbed Name or IP:</h4>
      	<textarea name="tesbedName" id="testbedName" style="height:22px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all"></textarea>
  		<h4>Description:</h4>
      	<textarea name="testbedDescription" id="testbedDescription" style="resize:both;height:50px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all"></textarea>
	</fieldset></form>
</div>

<div id="GroupEditorDialog" title="Group Editor" style="font-size:62.5%;">
	<form><fieldset>
		<h4>Group Name:</h4>
      	<textarea name="groupName" id="groupName" style="height:22px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all"></textarea>
		<h4>List of testbeds and other groups:</h4>
      	<textarea name="testbedsList" id="testbedsList" style="height:50px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all"></textarea>
  		<br><b>Group Run-time Mode:</b>
		<select id="RunMode" >
			<option>Serialize</option>
			<option>Parallelize</option>
			<option>First Available</option>
		</select>
  		<h4>Description:</h4>
      	<textarea name="groupDescription" id="groupDescription" style="resize:both;height:50px;vertical-align:top;width:100%" class="text ui-widget-content ui-corner-all"></textarea>
	</fieldset></form>
</div>

<div id="DependencyEditorDialog" title="Add Dependency" style="font-size:62.5%;">
  <form><fieldset>
    <h3>Test:</h3>
    <div id="dependencyItem"></div>
  	<h3>Run only upon successful execution of:</h3>
		<select id="dependencySelection" >
		</select>
  </fieldset></form>
</div>

<div id="SelectTestsDiv" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
	<b>Select Testbed:</b> 
	<select id="Testbeds" onchange="CheckTestbedStatus()" >
	  <option value="New Testbed">New Testbed</option>
	  <option value="New Group">New Group</option>
	</select>
	<button type="button" id="EditTestbedButton" disabled onclick="EditTestbedButtonHandler()">Edit</button>
	<label id="testbedStatus"></label>
</div>

<div id="SelectTestsPanelDiv" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
	<div id="TestCategoryDiv" style="display: inline" >
		<b>Choose Tests:</b>
		<select id="TestsRoot" onchange="ApplyTestSelection({id:'TestsRoot'})" >
		</select>
	</div>
    <button type="button" id="NewDataParamButton" onclick="EditNewDataparameter()">New</button>
	
	<div id="AvailableTestsDiv" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
	</div>
</div>

<div id="QueuedTests" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
	<label id="QueuedTests"><b>Queued Tests:</b></label><br>
	<div id="QueuedTestsListDiv" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
		<ul id="QueueTestsList" style="width:100%;">
		</ul>
	</div>
</div>

<div id="ButtonsDiv" style="padding:10px; color: black; background-color: #eeeeee; border: black 1px solid" >
	<div id="JobTemplatesDiv" style="padding:5px; color: black; background-color: #d0d0d0; border: black 0px solid" >
		<b>Select Job:</b> 
		<select id="UsersMenu" onchange="UserSelected()" >
		</select>
		<select id="JobsMenu" disabled onchange="JobSelected()" >
		</select>
		<button type="button" id="LoadJobButton" disabled onclick="LoadJob()">Load</button>
		<button type="button" id="DeleteJobButton" disabled onclick="DeleteJob()">Delete</button>
	</div>
	
	<table style="padding:0px;border-collapse: collapse;text-align: right;table-layout:fixed;width:100%">
		<tr><td style="width:80"><label for="jobname">Job Name:</label></td><td><input type="text" id="jobname" style="width:100%;"></td></tr>
		<tr><td><label for="jobusername">User:</label></td><td><input type="text" id="jobusername" style="width:100%;"></td></tr>
		<tr><td><label for="joboptargs">Opt Args:</label></td><td><input type="text" id="joboptargs" style="width:100%;"></td></tr>
		<tr><td><label for="jobclasspath">Classpath:</label></td><td><input type="text" id="jobclasspath" style="width:100%;"></td></tr>
	</table>
	<br>
	<button type="button" onclick="RunJob('RunJob')">Run</button>
	<button type="button" onclick="RunJob('SaveJob')">Save</button>
	<button type="button" onclick="RunJob('REST')">View REST</button>
    <div id="divLoading" style="display:inline-block"></div><br>
</div>

</body>
</html>
