<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Toolbox Event Scheduler Editor</title>
  
 <script type="text/javascript">
 </script> 
</head>
<body style="xbackground-color:#eeeeee;">
<!-- Insert Header -->
<button>New Event</button>
<div>
<table id="event1" style="width:100%;background-color:#eeeeee;padding:10px; color: black; border: black 1px solid">
	<tr><td style="width:64px;text-align:right;"><input type="checkbox" checked><label for="eventname"> Event:</label></td>
		<td><input id="eventname" type="text" value="Unnamed Scheduled Job 1" style="width:92%;"><button>Delete</button></td></tr>
	<tr><td style="text-align:right;"><label for="stagingdir">Run Job: </label></td>
		<td><select><option>--Select--</option><option>User1</option><option>User2</option></select> 
			<select><option>--Select--</option><option>Job1</option><option>Job2</option></select></td></tr>
	<tr><td style="vertical-align:top;text-align:right;"><label for="stagingdir">Trigger: </label></td>
		<td>
			<input type="checkbox">Mon
			<input type="checkbox">Tue
			<input type="checkbox">Wed
			<input type="checkbox">Thu
			<input type="checkbox">Fri
			<input type="checkbox">Sat
			<input type="checkbox">Sun
			&nbsp<b>@</b>&nbsp
			<input id="hour" type="text" value="1" style="text-align:center;width:20px;"> : 
			<input id="minute" type="text" value="00" style="text-align:center;width:20px;">
			<select>
			<option>AM</option>
			<option>PM</option>
			</select>
			<br>
			<input type="checkbox"> Run when Test Manager starts up
			<br>
			<input type="checkbox"> Repeat every <input id="repeatminutes" type="text" value="60" style="text-align:center;width:20px;"> <select><option>minutes</option><option>hours</option><option>weeks</option><option>months</option></select>
			</select><br>
			<input type="checkbox"> If the following command returns 0: <br>
			<input id="script" type="text" value="" style="width:100%;">
		</td></tr>
</table>
</div>
<div>
<table id="event2" style="width:100%;background-color:#eeeeee;padding:10px; color: black; border: black 1px solid">
	<tr><td style="width:64px;text-align:right;"><input type="checkbox" checked><label for="stagingdir"> Event:</label></td>
		<td><input id="stagingdir" type="text" value="Unnamed Scheduled Job 2" style="width:92%;"><button>Delete</button></td></tr>
	<tr><td style="text-align:right;"><label for="stagingdir">Run Job: </label></td>
		<td><select><option>--Select--</option><option>User1</option><option>User2</option></select> 
			<select><option>--Select--</option><option>Job1</option><option>Job2</option></select></td></tr>
	<tr><td style="vertical-align:top;text-align:right;"><label for="stagingdir">Trigger: </label></td>
		<td>
			<input type="checkbox">Mon
			<input type="checkbox">Tue
			<input type="checkbox">Wed
			<input type="checkbox">Thu
			<input type="checkbox">Fri
			<input type="checkbox">Sat
			<input type="checkbox">Sun
			&nbsp<b>@</b>&nbsp
			<input id="hour" type="text" value="1" style="text-align:center;width:20px;"> : 
			<input id="minute" type="text" value="00" style="text-align:center;width:20px;">
			<select>
			<option>AM</option>
			<option>PM</option>
			</select>
			<br>
			<input type="checkbox"> Run when Test Manager starts up
			<br>
			<input type="checkbox"> Repeat every <input id="repeatminutes" type="text" value="60" style="text-align:center;width:20px;"> <select><option>minutes</option><option>hours</option><option>weeks</option><option>months</option></select>
			</select><br>
			<input type="checkbox"> If the following command returns 0: <br>
			<input id="script" type="text" value="" style="width:100%;">
		</td></tr>
</table>
</div>

</body>
</html>