<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Settings Editor</title>
  
 <script type="text/javascript">  	
 </script> 
</head>
<body style="xbackground-color:#eeeeee;">
<!-- Insert Header -->
<table style="width:100%;background-color:#eeeeee;padding:10px; color: black; border: black 1px solid">
	<tr><td style="text-align:right;"><label style="width:200px" for="stagingdir">Staging Dir: </label></td>
		<td><input id="stagingdir" type="text" value="" style="width:100%;"></td></tr>
	<tr><td style="width:200px;text-align:right;"><label for="dataparamsroot">Data Parameters Root: </label></td>
		<td><input id="dataparamsroot" type="text" value="../DataParams" style="width:100%;"></td></tr>
	<tr><td style="text-align:right;"><label for="defaultjars">Default Jars Root Dir: </label></td>
		<td><input id="defaultjars" type="text" value=".Jars" style="width:100%;"></td></tr>
	<tr><td style="text-align:right;"><label for="showjobcount">Show Job Count: </label></td>
		<td><input id="showjobcount" type="text" value="20" style="width:30px"></td></tr>
	<tr><td style="text-align:right;"><label for="starttestmanagercb">Start Test Manager on Launch:</label></td>
		<td><input id="starttestmanagercb" type="checkbox" checked></td></tr>
</table>
</div>
</body>
</html>